<form  [formGroup]="wareHouseForm">
<div id="wrapper">
	<div id="buildZone">
    <canvas id="canvas"></canvas>
    <img src="assets/SmartDraw-Layout-Blog.jpg" id="floorplan">
    <div class="right-panel" >
      <mat-card class="floorplan-panel">
        <mat-card-title>Floorplan</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-actions>
          <div>
            <button  type="button" mat-raised-button color="primary" (click)="addFloorplan();">Add Floorplan</button>
            <button type="button" mat-raised-button color="accent" (click)="markFloorplan();">Mark Floorplan</button>
            <button  type="button" mat-raised-button color="primary" (click)="saveFloorplan();">Save Floorplan</button>
            <button type="button" mat-raised-button color="warn" (click)="removeFloorplan();">Remove Floorplan</button>
            <mat-form-field appearance="fill">
              <mat-label>Units</mat-label>
              <input matInput formControlName="units">
            </mat-form-field>
            <label>= 1 feet</label>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-card id="controls" class="controls sku-panel" formArrayName="sku">
        <mat-card-title>SKU</mat-card-title>
        <div class="sku" [formGroupName]='0'>
          <div class="sku-button">
            <i id="biscuit" class="feather icon-square"></i>
            <label>Biscuit</label>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>length</mat-label>
            <input matInput formControlName="length">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>width</mat-label>
            <input matInput formControlName="width">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Height</mat-label>
            <input matInput formControlName="height">
          </mat-form-field>
        </div>
        <div class="sku" [formGroupName]='1'>
          <div class="sku-button">
            <i id="shampoo" class="feather icon-square"></i>
            <label>Shampoo</label>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>length</mat-label>
            <input matInput formControlName="length">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>width</mat-label>
            <input matInput formControlName="width">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Height</mat-label>
            <input matInput formControlName="height">
          </mat-form-field>
        </div>
        <div class="sku" [formGroupName]='2'>
          <div class="sku-button">
            <i id="soap" class="feather icon-square"></i>
            <label>Soap</label>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>length</mat-label>
            <input matInput formControlName="length">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>width</mat-label>
            <input matInput formControlName="width">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Height</mat-label>
            <input matInput formControlName="height">
          </mat-form-field>
        </div>
        <div class="sku" [formGroupName]='3'>
          <div class="sku-button">
            <i id="chips" class="feather icon-square"></i>
            <label>Chips</label>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>length</mat-label>
            <input matInput formControlName="length">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>width</mat-label>
            <input matInput formControlName="width">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Height</mat-label>
            <input matInput formControlName="height">
          </mat-form-field>
        </div>
        <div class="sku">
          <i id="clear" class="feather icon-square"></i>
          <label>Remove</label>
        </div>
        <button type="button" mat-raised-button color="primary" (click)="saveTags();">Save Tags</button>
      </mat-card>
      <mat-card  class="controls sku-panel" formArrayName="invoice">
        <mat-card-title>Invoice Items</mat-card-title>
        <div class="sku" [formGroupName]='0'>
          <div class="sku-button">
            <i  class="feather icon-square"></i>
            <label>Biscuit</label>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="quantity">
          </mat-form-field>
        </div>
        <div class="sku" [formGroupName]='1'>
          <div class="sku-button">
            <i class="feather icon-square"></i>
            <label>Shampoo</label>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="quantity">
          </mat-form-field>
        </div>
        <div class="sku" [formGroupName]='2'>
          <div class="sku-button">
            <i class="feather icon-square"></i>
            <label>Soap</label>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="quantity">
          </mat-form-field>
        </div>
        <div class="sku" [formGroupName]='3'>
          <div class="sku-button">
            <i class="feather icon-square"></i>
            <label>Chips</label>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="quantity">
          </mat-form-field>
        </div>
        <button type="button" mat-raised-button color="primary" (click)="showHeatmap();">Show Heatmap</button>
      </mat-card>
    </div>
  </div>
</div>
</form>